.welcomeLabel {

    -fx-text-fill: #666666;
}

.razorLabel {

    -fx-text-fill: #BD5961;
    -fx-font-family: "Verdana";
    -fx-font-size: 36px;
}

.razorLabel-invert {

    -fx-text-fill: #2f3542;
    -fx-font-family: "Verdana";
    -fx-font-size: 36px;
}

.leftVbox {

    -fx-background-color: #70a1ff;
}


.register-button {

    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: #F1F1F1;
    -fx-border-style: solid;
    -fx-border-color: #ff4757;
    -fx-background-color: #ff4757;
}

.register-button:hover {

    -fx-border-color: #2f3542;
    -fx-background-color: #2f3542;

}

.registerLabel {

    -fx-text-fill: #C17C77;
}

.username {

    -fx-background-image:url('../image/username.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 8%;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
}

.password {

    -fx-background-image:url('../image/password.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 8%;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
}